<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Lista de tarefas</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>


</head>
<body>
<!-- body -->
<div id="app">
  <v-app id="Minhas tarefas">
    <v-app-bar
      background color="#60bbad"
      max-height="55"
      height="55"
      elevation="0"
      dense
      dark
    >

      <v-toolbar-title>
        <v-icon>
          Lista de tarefas
        </v-icon>

      </v-toolbar-title>

      <v-spacer></v-spacer>

      <div>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          dense
          outlined
          class="mr-1"
        ></v-text-field>
      </div>

      <v-btn @click.stop="drawer = !drawer" icon>
        <v-icon>mdi-filter-outline</v-icon>
      </v-btn>

      <v-btn @click.stop="dialog = true" icon>
        <v-icon>mdi-pencil-plus</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      right
      absolute
      temporary
    >

      <v-list-item>
        <v-list-item-avatar color="deep-purple accent-4">
          <v-icon color="white">mdi-filter-outline</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Minhas tarefas</v-list-item-title>
          <v-list-item-subtitle>Filtrar</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item>
          <v-list-item-content>
            <v-select
              :items="['Tudo', 'Alta', 'Média', 'Baixa']"
              v-model="filters.priority"
              label="Prioridade"
              hide-details
              dense
              outlined
            ></v-select>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-select
              :items="['Tudo', 'A fazer', 'Fazendo', 'Feito']"
              v-model="filters.status"
              label="Status"
              hide-details
              dense
              outlined
            ></v-select>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-select
              :items="['Tudo', 'Atrasada', 'Para hoje', 'Para o futuro']"
              v-model="filters.deadline"
              label="Prazo final"
              hide-details
              dense
              outlined
            ></v-select>
          </v-list-item-content>
        </v-list-item>
      </v-list>

    </v-navigation-drawer>

    <v-data-table
      :search="search"
      :headers="headers"
      :items="tasks"
      sort-by="deadline"
    >

      <template v-slot:top>
        <v-toolbar
          flat
          height="0"
        >

          <v-dialog
            v-model="dialog"
            max-width="500px"
          >

            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text class="pb-0">
                <v-container>
                  <v-form
                    ref="form"
                    v-model="form_valid"
                    lazy-validation
                  >

                    <v-row class="mt-1">
                      <v-col
                        cols="12"
                        sm="6"
                        md="12"
                      >
                        <v-text-field
                          v-model="editedItem.name"
                          :rules="[v => !!v || 'O nome da tarefa é obrigatório']"
                          :readonly="editedIndex === 0"
                          required
                          label="Nome da tarefa"
                          dense
                          outlined
                        ></v-text-field>
                      </v-col>

                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-select
                          :items="['Alta', 'Média', 'Baixa']"
                          v-model="editedItem.priority"
                          :rules="[v => !!v || 'A prioridade da tarefa é obrigatória']"
                          :readonly="editedIndex === 0"
                          required
                          label="Prioridade"
                          dense
                          outlined
                        ></v-select>
                      </v-col>

                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-select
                          :items="['A fazer', 'Fazendo', 'Feito']"
                          v-model="editedItem.status"
                          :rules="[v => !!v || 'O status da tarefa é obrigatório']"
                          :readonly="editedIndex === 0"
                          required
                          label="Status"
                          dense
                          outlined
                        ></v-select>
                      </v-col>

                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-dialog
                          ref="dialog"
                          v-model="modal_date_picker"
                          persistent
                          width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              v-model="editedItem.deadline"
                              :rules="[v => !!v || 'O prazo da tarefa é obrigatório']"
                              :readonly="editedIndex === 0"
                              required
                              label="Prazo final"
                              dense
                              outlined
                              v-on="editedIndex === 0 ? '' : on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            v-model="editedItem.deadline"
                            scrollable
                            class="pb-2"
                          >
                            <v-btn
                              text
                              color="primary"
                              @click="modal_date_picker = false"
                            >
                            Cancelarar
                            </v-btn>
                            <v-spacer></v-spacer>
                            <v-btn
                              color="blue darken-1"
                              class="white--text"
                              @click="$refs.dialog.save(editedItem.deadline)"
                            >
                            Selecionar
                            </v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-col>

                      <v-col
                        cols="12"
                      >
                        <v-textarea
                          outlined
                          dense
                          name="Detalhes da tarefa"
                          label="Detalhes da tarefa (opcional)"
                          auto-grow
                          v-model="editedItem.details"
                          :readonly="editedIndex === 0"
                        ></v-textarea>
                      </v-col>
                    </v-row>

                  </v-form>
                </v-container>
              </v-card-text>

              <v-card-actions v-if="editedIndex !== 0" class="pb-4">

                <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  Cancelar
                </v-btn>

                <v-spacer></v-spacer>

                <v-btn
                  color="blue darken-1"
                  class="white--text"
                  @click="save"
                >
                  Salvar
                </v-btn>

              </v-card-actions>
            </v-card>

          </v-dialog>

          <v-dialog v-model="dialogDelete" max-width="500px">

            <v-card>
              <v-card-title class="headline">Tem certeza de que deseja excluir <br> esta tarefa?</v-card-title>
              <v-card-actions class="pb-4">
                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" class="white--text" @click="deleteItemConfirm">Sim</v-btn>
              </v-card-actions>
            </v-card>

          </v-dialog>

        </v-toolbar>
      </template>

      <template v-slot:[`item.priority`]="{ item }">
        <v-chip
          class="ma-2"
          :color="getPriorityColor(item.priority)"
          text-color="white"
          small
        >
          {{ item.priority }}
        </v-chip>
      </template>

      <template v-slot:[`item.status`]="{ item }">
        <v-chip
          class="ma-2"
          :color="getStatusColor(item.status)"
          text-color="white"
          small
        >
          {{ item.status }}
        </v-chip>
      </template>

      <template v-slot:[`item.deadline`]="{ item }">
        <v-chip
          class="ma-2"
          :color="getDateColor(item.deadline)"
          :text-color="getDateColor(item.deadline)"
          outlined
          small
        >
          {{ getFormattedDate(item.deadline) }}
        </v-chip>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="viewItem(item)"
        >
          mdi-eye
        </v-icon>

        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>

        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>

      <template v-slot:no-data>
        <div class="mt-4 mb-4">
          Nada para mostrar <br>
          <a class="text-decoration-underline" @click="initialize">Clique aqui</a> reniciar.
        </div>
      </template>

    </v-data-table>
  </v-app>
</div>
<!-- script -->
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script><script  src="./_js/script.js"></script>

</body>
</html>
